<div class="container p-3">
  <form action="/restaurants" method="POST">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="">名字</label>
        <input type="text" class="form-control" name="name" required>
      </div>
      <div class="form-group col-md-6">
        <label for="">English Name</label>
        <input type="text" class="form-control" name="name_en" required>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="exampleFormControlSelect1">餐廳類型</label>
        <select class="form-control" id="exampleFormControlSelect1" name="category">
          <option>中東料理</option>
          <option>日本料理</option>
          <option>義式餐廳</option>
          <option>美式</option>
          <option>酒吧</option>
          <option>咖啡</option>
          <option>其他</option>
        </select>
      </div>
      <div class="form-group col-md-3">
        <label for="">Rating</label>
        <input type="number" class="form-control" name="rating" step="0.1" min="1" max="5" required>
      </div>
      <div class="form-group col-md-6">
        <label for="">圖片連結</label>
        <input type="text" class="form-control" placeholder="URL" name="image" required>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="">電話</label>
        <input type="text" class="form-control" name="phone" required>
      </div>
      <div class="form-group col-md-8">
        <label for="">地址</label>
        <input type="text" class="form-control" name="location" required>
      </div>
    </div>

    <div class="form-group">
      <label for="">Google Map</label>
      <input type="text" class="form-control" placeholder="URL" name="google_map" required>
    </div>

    <div class="form-group">
      <label for="exampleFormControlTextarea1">產品描述</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="description" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>